
<div class="container">
    <div class="svg-container">
        <svg viewBox="0 0 300 320">
            <path d="m 50 320
            h 20 l 40 -100 
            v 100 h 20 v -100
            l 40 100 h 20 l -40 -100
            h 100 
            l 50 20 v -140 l -50 20
            h -250
            v 100
            h 90"/>
            <circle cx="60" cy="60"  r="60" />
            <circle cx="180" cy="60"  r="60" />
        </svg>
    </div>
    <div class="svg-container">
        <svg viewBox="0 0 300 310">
            <path d="m 50 65
            h 200
            c 0 0 50 0 50 50
            v 100
            c 0 0 0 50 -50 50
            h -200
            c 0 0 -50 0 -50 -50
            v -100
            c 0 0 0 -50 50 -50"/>
            <path d="m 110 115
            l 100 50
            l -100 50
            v -100"
            fill="white" stroke="black" stroke-width="3"/>
        </svg>

    </div>
    <div class="svg-container">
        <svg viewBox="0 0 250 350">
            <path d="m 0 10
            h 230
            l 20 20
            v 330
            h -250
            v -350"
            />
            <path d="m 20 10
            v 1
            c 0 -1 -5 -10 -10 0
            v 20
            c 0 0 5 10 10 0
            v -10" 
            fill="black" stroke="white" stroke-width="3"/>
            <path d="m 75 80 
            h 100 v 5 h -100 v -5" fill="white"/>
            <path d="m 40 130 
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 150
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 170
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 190
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 210
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 230
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 250
            h 170 v 5 h -170 v -5" fill="white"/>
            <path d="m 40 270
            h 100 v 5 h -100 v -5" fill="white"/>
        </svg>
    </div>

    <!-- <div class="what-we-do-art-photos-grid">
      <app-what-we-do-photo class="what-we-do-photo" 
      *ngFor="let photo of whatWeDoPhotos" [imgTitle]="photo.title" [imgPath]="photo.path" [imgDescription]="photo.description">
      </app-what-we-do-photo>
    </div> -->
</div>