<div class="container">
    <div class="awards">
        <app-rock-paper-scissor-review-summary-widget style="padding-right:10px"></app-rock-paper-scissor-review-summary-widget>
        <app-buzzfeed-review-summary-widget style="padding-left:10px"></app-buzzfeed-review-summary-widget>
    </div>
    <div class="game">
        <img src="../assets/what-we-do/summaries/Beanos.png" style="transform: scaleX(-1)">
        <video src="../assets/Untitled.mp4" controls></video>
        <img src="../assets/what-we-do/summaries/Beanos.png">
    </div>
    <div class="awards" style="background-color:#121314">
        <app-ign-review-summary-widget style="padding-right:10px"></app-ign-review-summary-widget>
        <app-yahoo-answers-review-summary-widget style="padding-left:10px"></app-yahoo-answers-review-summary-widget>
    </div>
</div>