@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

/* You can add global styles to this file, and also import other style files */
body,html { 
    scrollbar-color: #bc8155 #1e1e24;
    margin: 0; 
    padding:0; 
    height: 100%; 
    font-family:'Open Sans'
}
body::-webkit-scrollbar {
    width:0.25rem;
}
body::-webkit-scrollbar-thumb {
    background: #bc8155
}
body::-webkit-scrollbar-track {
    background:#1e1e24;
}